.welcome {
  height: auto;
}

.welcome p {
  color: #de9e48;
  font-style: italic;
  font-size: 15px;
}

.welcome div {
  padding-left: 30px;
}

.header {
  font-size: 70px;
  margin: 0px;
}

.red {
  color: #7a431d;
  font-weight: 800;
}
