.navigation {
  display: block;
  background-color: #563727;
  width: 300px;
  height: auto;
  min-height: 100vh;
}

.logo {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 10px 0;
}

.logo h2 {
  text-align: center;
}

.navLinks {
  text-decoration: none;
  color: white;
}

.image {
  width: 80%;
}

.links {
  height: auto;
  border-top: #372c2e 1px solid;
  border-bottom: #372c2e 1px solid;
}

.linkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  transition: all ease-in 0.3s;
}

.linkButton:hover {
  background: none;
  background-color: #372c2e;
  border-bottom: grey 1px solid;
  border-top: grey 1px solid;
  border-left: grey 1px solid;
  transition: all ease-in 0.3s;
}

.active {
  background: none;
  background-color: #372c2e;
  border-bottom: grey 1px solid;
  border-top: grey 1px solid;
  border-left: grey 1px solid;
}

.copyrightPolicy {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  font-size: 13px;
}
