* {
  box-sizing: border-box;
}

.App {
  display: flex;
}

.content {
  display: block;
  width: 100%;
  height: auto;
  padding: 30px;
}

.imageContainer {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.contentImage {
  width: 80px;
  height: auto;
  filter: brightness(40%);
  transition: all ease-in-out 0.3s;
}

.contentImage:hover {
  filter: brightness(100%);
  transition: all ease-in-out 0.3s;
}
